.heading
{
font-size:23px;
width:100%;
margin:0px;

}
.note
{
font-size:18px;
color:darksalmon
}
body
{
background-size:cover;

}
.div_Song
{
float:center;

}
#Song
{
font-size:30px;
margin:10px;
color:palegoldenrod;
}